{% extends "ct/ct.html.twig" %}

{% block title %}Contrôle Technique - Province - Vision{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="row justify-content-center align-items-center kl-sous-titre">
            <h1>Liste des provinces</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Province</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for province in provinces %}
                <tr>
                    <td>{{ province.id }}</td>
                    <td>{{ province.province }}</td>
                    <td>
                        <a href="{{ path('provinces_show', {'id': province.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Voir</a>
                        <a href="{{ path('provinces_edit', {'id': province.id}) }}" class="btn btn-danger">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouver</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('provinces_new') }}" class="btn btn-primary">Ajouter un nouveau province</a>
    </div>
{% endblock %}
