{% extends "ct/ct.html.twig" %}

{% block title %}Controles - Vision{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="row">
            <div class="offset-4 col-4 justify-content-center align-items-center kl-sous-titre">
                <h1>Liste des Controles</h1>
            </div>
            <div class="col-4 justify-content-end">
                <div class="main">  
                    <!-- Actual search box -->
                    <form action={{ path('controles_index') }} method='GET'>
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" name="recherche" id="recherche" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <!--<th>Id</th>-->
                    <th>Immatriculation du véhicule</th>
                    <th>Usage effectif</th>
                    <th>N° enregistrement à la visite</th>                    
                    <th>Nom du vérificateur</th>
                    <th>CENSERO ayant effectué la dernière visite</th>
                    <th>Nom et Adresse du propriétaire et numéro de téléphone</th>
                    <th>Anomalies constatées</th>
                    <th>Date expiration de visite technique</th>
                    <th>Papiers retirés</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for controle in controles %}
                <tr>
                    <!--<td>{{ controle.id }}</td>-->
                    <td>{{ controle.Immatriculation }}</td>
                    <td>{{ controle.Usages }}</td>
                    <td>{{ controle.Enregistrement }}</td>
                    <td>{{ controle.verificateur }}</td>
                    <td>{{ controle.centre }}</td>
                    <td>{{ controle.proprietaire }}<br>{{ controle.adresse }}<br>{{ controle.telephone }}</td>
                    <td>
                        {% for anomalies_collection in controle.getAnomaliesCollections %}
                            {{ anomalies_collection }}
                        {% endfor %}
                    </td>
                    <td>{{ controle.dateExpiration ? controle.dateExpiration|date('Y-m-d') : '' }}</td>
                    <td>
                        {% for papier_collection in controle.getPapiersCollection %}
                            {{ papier_collection }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('controles_show', {'id': controle.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('controles_edit', {'id': controle.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun enregistrement trouver</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('controles_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un contrôle</a>
        {% endif %}
    </div>
{% endblock %}
