{% extends "ct/ct.html.twig" %}

{% block title %}R么le - Vision{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="row justify-content-center align-items-center kl-sous-titre">
            <h1>Liste des r么les</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>R么le</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.role }}</td>
                    <td>
                        <a href="{{ path('roles_show', {'id': role.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                        <a href="{{ path('roles_edit', {'id': role.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouver</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('roles_new') }}" class="btn btn-primary kl-bouton"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un r么le</a>
    </div>
{% endblock %}
