{% extends 'base.html.twig' %}

{% block title %}Contrôle Technique{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3 kl-fond-menu">
                <img src="/dist/images/header.png" class="img-fluid" alt="Image en-tête de la DGSR">
                <div class="vertical-menu kl-menu">
                    <a href="#" class="active">Tableau de bord : {{ app.user.username }}</a>
                    <a href="#"><span class="fa fa-user"></span> Profil</a>
                    <a href="#"><span class="fa fa-car"></span> Ajouter Véhicule</a>
                    <a href="#"><span class="fa fa-bus"></span> Liste Véhicule</a>
                    <a href="{{ path('user_index') }}"><span class="fa fa-users"></span> Utilisateur</a>
                    <a href="{{ path('centres_index') }}"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Centre</a>
                    <a href="{{ path('provinces_index') }}"><span class="fa fa-area-chart"></span> Province </a>
                    <a href="{{ path('professions_index') }}"><span class="fa fa-graduation-cap"></span> Profession </a>
                    <a href="{{ path('roles_index') }}"><span class="fa fa-university"></span> Role </a>
                    <a href="{{ path('app_logout') }}"><span class="fa fa-sign-out"></span> Déconnexion</a>
                </div>
            </div>            
            
            <div class="col-9">
                <div class="row kl-fond-entete justify-content-center align-items-center">
                    <div class="kl-titre">
                        <div class="kl-titre mb-3 font-weight-normal justify-content-center align-items-center">Contrôle Technique</div>
                    </div>
                    <!--<div class="col-3 kl-fond-entete">
                        <nav class="navbar navbar-expand-sm bg-light kl-fond-entete">
                            <div class="collapse navbar-collapse kl-fond-entete" id="oNavigation">
                                <ul class="nav navbar-nav kl-fond-entete">
                                    <li class="nav-item dropdown kl-box-border-menu kl-fond-entete">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><span class="fa fa-user"></span>&nbsp;Utilisateur <b class="caret"></b></a>                                        
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>-->
                </div>
                <div class="row">
                    {% block contenue %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
