{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container kl-ajustement kl-largeur-ecran mw-100">
        <div class="row">
            <div class="col-3 col-md-3 col-lg-2 col-xl-2 kl-fond-menu">
                <img src="/dist/images/header.png" class="img-fluid" alt="Image en-tête de la DGSR">
                <div class="vertical-menu kl-menu">
                    <a href="#" class="active">Tableau de bord : {{ app.user.username }}</a>
                    <a href="{{ path('ct_profil') }}"><span class="fa fa-user"></span> Profil</a>
                    <a href="{{ path('controles_new') }}"><span class="fa fa-car"></span> Ajouter Véhicule</a>
                    <a href="{{ path('controles_index') }}"><span class="fa fa-bus"></span> Liste Véhicule</a>
                    <a href="{{ path('ct_statistique') }}"><span class="fas fa-chart-bar"></span> Statistique</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('user_index') }}"><span class="fa fa-users"></span> Utilisateur</a>
                        <a href="{{ path('centres_index') }}"><i class="fa fa-snowflake-o" aria-hidden="true"></i> Centre</a>
                        <a href="{{ path('provinces_index') }}"><span class="fa fa-area-chart"></span> Province </a>
                        <a href="{{ path('professions_index') }}"><span class="fa fa-graduation-cap"></span> Profession </a>
                        <a href="{{ path('utilisations_index') }}"><span class="fa fa-truck"></span> Utilisation </a>
                        <a href="{{ path('roles_index') }}"><span class="fa fa-university"></span> Role </a>                       
                        <a href="{{ path('papiers_index') }}"><i class="fas fa-copy"></i> Papiers </a>                         
                        <a href="{{ path('anomalies_index') }}"><i class="fa fa-gavel"></i> Anomalie </a>                        
                        <a href="{{ path('anomalies_type_index') }}"><i class="fa fa-wrench"></i> Type d'anomalie </a>
                    {% endif %}
                    <!--<a href="{#{{ path('app_logout') }}#}"><span class="fa fa-sign-out"></span> Déconnexion</a>-->
                </div>
            </div>            
            
            <div class="col-9 col-md-9 col-lg-10 col-xl-10">
                <div class="row kl-fond-entete justify-content-center align-items-center">
                    <div class="col-9 kl-titre">
                        <div class="kl-titre mb-3 font-weight-normal justify-content-center align-items-center">Contrôle Technique</div>
                    </div>
                    <div class="col-3"><a href="{{ path('app_logout') }}" type="button" class="btn btn-light"> <i class="fas fa-sign-out-alt"></i> </a></div>
                    <!--<div class="col-3 kl-fond-entete">
                        <nav class="navbar navbar-expand-sm bg-light kl-fond-entete">
                            <div class="collapse navbar-collapse kl-fond-entete" id="oNavigation">
                                <ul class="nav navbar-nav kl-fond-entete">
                                    <li class="nav-item dropdown kl-box-border-menu kl-fond-entete">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><span class="fa fa-user"></span>&nbsp;Utilisateur <b class="caret"></b></a>                                        
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>-->
                </div>
                <div class="row">
                    {% block contenue %}
                        <div class="container">
                            <div class="row justify-content-center align-items-center kl-sous-titre">
                                <h1>Profil de l'utilisateur actuel</h1>
                            </div>
                            <table class="table">
                                <tr>
                                    <th>Id</th>
                                    <td>{{ app.user.id }}</td>
                                </tr><tr>
                                    <th>Username</th>
                                    <td>{{ app.user.username }}</td>
                                </tr><tr>
                                    <th>Role</th>
                                    <td>{{ app.user.role }}</td>
                                </tr><tr>
                                    <th>Profession</th>
                                    <td>{{ app.user.profession }}</td>
                                </tr><tr>
                                    <th>Centre</th>
                                    <td>{{ app.user.centre }}</td>
                                </tr><tr>
                                    <th>Nom</th>
                                    <td>{{ app.user.nom }}</td>
                                </tr><tr>
                                    <th>Prenom</th>
                                    <td>{{ app.user.prenom }}</td>
                                </tr>
                            </table>
                        </div>
                    {% endblock %}                    
                    <hr>
                    <div class="row off-col-3 off-col-md-3 off-col-lg-2 off-col-xl-2 col-9 col-md-9 col-lg-10 col-xl-10">
                        <span class="kl-copyright">ANDRIANTSOA Husayn Mozart (DGSRSIT)</span>
                    </div>
                    <div class="row off-col-3 off-col-md-3 off-col-lg-2 off-col-xl-2 col-9 col-md-9 col-lg-10 col-xl-10">
                        <span class="kl-copyright">Copyright © 2019 DGSR.</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
