{% extends "ct/ct.html.twig" %}

{% block title %}Historiques - Vision{% endblock %}

{% block contenue %}
    <div class="container" style="font-size:12px">
        <div class="row">
            <div class="offset-2 col-7 justify-content-center align-items-center kl-sous-titre">
                <h1>Liste des historiques</h1>
            </div>
            <div class="col-3 justify-content-end">
                <div class="main">  
                    <!-- Actual search box -->
                    <form action={{ path('historique_index') }} method='GET'>
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input type="text" name="recherche" id="recherche" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <!--<th>Id</th>-->
                    <th style="font-weight:bold">Immatriculation</th>
                    <th style="font-weight:bold">Usage effectif</th>
                    <th style="font-weight:bold">Numéro PV</th>                    
                    <th style="font-weight:bold">Vérificateur</th>
                    <th style="font-weight:bold">Propriétaire</th>
                    <th style="font-weight:bold">Anomalies</th>
                    <th style="font-weight:bold">Secrétaire</th>
                    <th style="font-weight:bold">Sortie VTA</th>
                    <th style="font-weight:bold">Détails</th>
                </tr>
            </thead>
            <tbody>
            {% for controle in controles %}
                <tr>
                    <td>{{ controle.Immatriculation }}</td>
                    <td>{{ controle.Usages }}</td>
                    <td>{{ controle.Enregistrement }}</td>
                    <td>{{ controle.verificateur }}</td>
                    <td>{{ controle.proprietaire }}<br>{{ controle.adresse }}<br>{{ controle.telephone }}</td>
                    <td>
                        {% for anomalies_collection in controle.getAnomaliesCollections %}
                            {{ anomalies_collection }}
                        {% endfor %}
                    </td>
                    <td>{{ controle.ajouteur }}</td>                    
                    <td>{{ controle.retireur }}</td>
                    <td>
                        <a href="{{ path('historique_show', {'id': controle.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>                        
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">Aucun enregistrement trouver</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row center text-center text-justify">
            {% include "ct/page.html.twig" %}
        </div>

        
        <a href="{{ path('pdfhistorique') }}" class="btn btn-primary kl-bouton"><i class="fas fa-print" aria-hidden="true"></i> Impr Journalière</a>
    </div>
{% endblock %}
