{% extends "ct/ct.html.twig" %}

{% block title %}Historiques - Details{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="row justify-content-center align-items-center kl-sous-titre">
            <h1>Historiques</h1>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Immatriculation du véhicule</th>
                    <td>{{ controle.Immatriculation }}</td>
                </tr>
                <tr>
                    <th>Usage effectif du véhicule</th>
                    <td>{{ controle.Usages }}</td>
                </tr>
                <tr>
                    <th>Numéro d'enregistrement à la dernière visite</th>
                    <td>{{ controle.Enregistrement }}</td>
                </tr>
                <tr>
                    <th>Vérificateur ayant effectué le controle inopiné</th>
                    <td>{{ controle.verificateur }}</td>
                </tr>
                <tr>
                    <th>CENSERO ayant effectué la dernière visite</th>
                    <td>{{ controle.centre }}</td>
                </tr>
                <tr>
                    <th>Nom du propriétaire du véhicule</th>
                    <td>{{ controle.proprietaire }}</td>
                </tr>
                <tr>
                    <th>Adresse du propriétaire du véhicule</th>
                    <td>{{ controle.adresse }}</td>
                </tr>
                <tr>
                    <th>Telephone du propriétaire du véhicule</th>
                    <td>{{ controle.telephone }}</td>
                </tr>
                <tr>
                    <th>Anomalies constatées sur le véhicule</th>
                    <td>
                        {% for anomalies_collection in controle.getAnomaliesCollections %}
                            {{ anomalies_collection }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Date expiration de la dernière visite technique</th>
                    <td>{{ controle.dateExpiration ? controle.dateExpiration|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Papiers retirés concernant le véhicule</th>
                    <td>
                        {% for papier_collection in controle.getPapiersCollection %}
                            {{ papier_collection }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Date du contrôle inopiné effectué</th>
                    <td>{{ controle.CreatedAt ? controle.CreatedAt|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Centre pour la récupération des papiers</th>
                    <td>{{ controle.verificateur.centre }}</td>
                </tr>
                <tr>
                    <th>Personnel ayant ajouter ce véhicule dans la base</th>
                    <td>{{ controle.ajouteur }}</td>
                </tr>
                <tr>
                    <th>Date et heure de retrait du véhicule de la base de donnée</th>
                    <td>{{ controle.getDateRetrait()|date('Y-m-d') }} {{ controle.getHeureRetrait()|date('H:m:s') }}</td>
                </tr>
                <tr>
                    <th>Personnel ayant retirer ce véhicule de la base</th>
                    <td>{{ controle.retireur }}</td>
                </tr>
                <tr>
                    <th>Centre ayant retirer le véhicule de la base</th>
                    <td>{% if controle.retireur %}{{ controle.retireur.centre }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('pdf', {'id': controle.id}) }}" class="btn btn-success kl-bouton"><i class="fas fa-print" aria-hidden="true"></i> Imprimer</a>
        <a href="{{ path('historique_index') }}" class="btn btn-primary kl-bouton"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour vers la liste</a>
    </div>
{% endblock %}
