{% extends "ct/ct.html.twig" %}

{% block title %}Statistique - resultat{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="row justify-content-center align-items-center kl-sous-titre">
            <h1>Statistiques Total</h1>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>nombre de controle réaliser</th>
                    <td>{{ controlerealiser }}</td>
                </tr>                
                <tr>
                    <th>nombre de papier retirer</th>
                    <td>{{ papierretirer }}</td>
                </tr>                
                <tr>
                    <th>nombre de papier restant</th>
                    <td>{{ papierrestant }}</td>
                </tr>
                <tr>
                    <th>nombre de verificateur</th>
                    <td>{{ nombreverificateur }}</td>
                </tr>
                <tr>
                    <th>nombre de centre</th>
                    <td>{{ nombrecentre }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('ct_statistique', {'page': 'hebdo'}) }}" class="btn btn-success kl-bouton"><i class="fas fa-print" aria-hidden="true"></i> rapport hebdomadaire</a>
        <a href="{{ path('ct_statistique', {'page': 'mensuel'}) }}" class="btn btn-success kl-bouton"><i class="fas fa-print" aria-hidden="true"></i> rapport mensuel</a>
        <a href="{{ path('ct_statistique', {'page': 'annuel'}) }}" class="btn btn-success kl-bouton"><i class="fas fa-print" aria-hidden="true"></i> rapport annuel</a>
    </div>
{% endblock %}