{% extends "ct/ct.html.twig" %}

{% block title %}Contrôle Technique - User - Vision{% endblock %}

{% block contenue %}
    <div class="container">
        <div class="row justify-content-center align-items-center kl-sous-titre">
            <h1>Liste des utilisateurs</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Profession</th>
                    <th>Centre</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date_inscription</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.profession }}</td>
                    <td>{{ user.centre }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.dateInscription ? user.dateInscription|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i> Voir</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun enregistrement trouver</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('user_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un utilisateur</a>
    </div>
{% endblock %}
